## Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

Target is IS_SUCCESSFUL i.e if the load application is successfull or not.

Features are Application Type, Affliation,classification,Use Case for funding ,Organization Type,Status,Income amount, Special considerations and Ask Amount

In [22]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(columns=['EIN','NAME'],inplace=True)
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [23]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_count=pd.DataFrame(application_df['APPLICATION_TYPE'].value_counts().reset_index())
application_types_count.columns=['app_type','count']
#Find all the application values with less tha 500 members, replace them as other
application_types_to_replace=[t for t in application_types_count[application_types_count['count']<500]['app_type']]
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_types_count=pd.DataFrame(application_df['CLASSIFICATION'].value_counts().reset_index())
class_types_count.columns=['class_type','count']
class_types_count[class_types_count['count']>1]

   class_type  count
0       C1000  17326
1       C2000   6074
2       C1200   4837
3       C3000   1918
4       C2100   1883
5       C7000    777
6       C1700    287
7       C4000    194
8       C5000    116
9       C1270    114
10      C2700    104
11      C2800     95
12      C7100     75
13      C1300     58
14      C1280     50
15      C1230     36
16      C1400     34
17      C7200     32
18      C2300     32
19      C1240     30
20      C8000     20
21      C7120     18
22      C1500     16
23      C1800     15
24      C6000     15
25      C1250     14
26      C8200     11
27      C1238     10
28      C1278     10
29      C1235      9
30      C1237      9
31      C7210      7
32      C2400      6
33      C1720      6
34      C4100      6
35      C1257      5
36      C1600      5
37      C1260      3
38      C2710      3
39         C0      3
40      C3200      2
41      C1234      2
42      C1246      2
43      C1267      2
44      C1256      2

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Group all the classifictions that have less than 1000 members as other.
classifications_to_replace=[t for t in class_types_count[class_types_count['count']<1000]['class_type']]
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies=pd.get_dummies(application_df)
application_df_dummies.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0
3       1     6692  ...                         1                         0
4       1   142590  ...                         1                         0

[5 rows x 44 columns]

In [30]:
# Split our preprocessed data into our features and target arrays
X = application_df_dummies.drop(columns=['IS_SUCCESSFUL']).values
y = application_df_dummies['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [32]:
print(len(X_train[0]),len(y_train),len(X_train))

43 25724 25724

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
num_input_features=len(X_train[0])
LayerNode1=80
LayerNode2=30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=LayerNode1,input_dim=num_input_features,activation='relu'))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=LayerNode2,input_dim=LayerNode1,activation='relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1,input_dim=LayerNode2,activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss='binary_crossentropy',optimizer="adam",metrics=['accuracy'])

In [35]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 6s 6ms/step - loss: 0.5756 - accuracy: 0.7178
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5566 - accuracy: 0.7285
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7289
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7312
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7297
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7328
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7310
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7328
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7345
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7326
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7339
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7341
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7359
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7340
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7351
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7354
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7362
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7360
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7363
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7372
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7366
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7367
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5422 - accuracy: 0.7376
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5420 - accuracy: 0.7370
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5423 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5418 - accuracy: 0.7379
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5418 - accuracy: 0.7363
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7364
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7373
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7379
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7376
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7378
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7377
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7381
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7386
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7384
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7381
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7396
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7385
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7391
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7391
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7377
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7384
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7391
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7389
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7371
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7387
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7383
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7400
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7390
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7390
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7390
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7389
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7388
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7389
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7393
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7398
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7387
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7392
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7390
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7391
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7391
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7392
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7396
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7391
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7382
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7394
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7401
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7395
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7397
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7396
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7404
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7398
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7405
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7401
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7404
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7398
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7400
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7399
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7400
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7403
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7400
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7399

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5592 - accuracy: 0.7321 - 483ms/epoch - 2ms/step
Loss: 0.5591757297515869, Accuracy: 0.7321282625198364

In [37]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')